SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sql_plan](
	[plan_hash] [varbinary](20) NOT NULL,
	[plan_xml] [xml] NULL,
 CONSTRAINT [sql_plan_pk] PRIMARY KEY CLUSTERED 
(
	[plan_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
