SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[query_history](
	[SESSIONID] [int] NOT NULL,
	[PLANID] [int] NULL,
	[DBNAME] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[USERNAME] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SQLHASH] [varbinary](20) NULL,
	[SUBMIT_TIME] [datetime2](7) NOT NULL,
	[END_TIME] [datetime2](7) NULL,
	[ESTCOST] [bigint] NULL,
	[ESTDISK] [bigint] NULL,
	[ESTMEM] [bigint] NULL,
	[SNIPPETS] [int] NULL,
	[RESROWS] [bigint] NULL,
	[RESBYTES] [bigint] NULL,
	[HOSTNAME] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE CLUSTERED INDEX [query_history_pk] ON [dbo].[query_history]
(
	[SUBMIT_TIME] ASC,
	[SESSIONID] ASC,
	[DBNAME] ASC,
	[HOSTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
