SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trash](
	[session_id] [int] NULL,
	[tstart] [smalldatetime] NULL,
	[tend] [smalldatetime] NULL,
	[dt] [smalldatetime] NULL
) ON [PRIMARY]

GO
